.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
}

.klava {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 5px;
  flex-wrap: wrap;
  background-color: #fafdf6;
  width: 800px;
  height: 300px;
}

.knopka {
  width: 45px;
  height: 45px;
  color: white;
  background-color: black;
  border-radius: 5px;
  outline: none;
  border: none;
  transition: all 0.5s ease-out;
}
.knopka-active,
.shift-active {
  background-color: rgb(134, 108, 186);
  color: rgb(126, 190, 213);
}

.backspace {
  width: 120px;
}
.tab,
.delete {
  width: 60px;
}
.capslock,
.enter {
  width: 100px;
}

.shift {
  width: 125px;
}
.space {
  width: 300px;
}
.arrow-up,
.arrow-down {
  height: 20px;
}
.arrows {
  width: 45px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.control,
.command {
  width: 75px;
}

.textarea {
  height: 150px;
  width: 500px;
}
